*{
    font-family: Poppins;
    color: black;
    padding: 0px;
    margin: 0px;
}
body{
    min-width: 400px;
}
.nav-container{
    height: 50px;
    background: black;
}
body{
    overflow-y: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
.mid-links nav a, .right-links nav a{
    text-decoration: none;
}
.mid-links nav, .mid-links nav a,.right-links nav, .right-links nav a{
    color: white;
}
.mid-links nav,.right-links{
    font-size: 18px;
}
.logo-icon,.mid-links,.right-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in-body, .start-container,.main-banner{
    height: calc(100vh - 75px);
    background-image: linear-gradient(to bottom, white, #EEF2F5);
}
.log-in-col,.sign-in-text,.sign-in-alternates{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in-container,.sign-up-container{
    border: 1px solid black;
    width: 350px;
    height: 400px;
    background: rgba(3, 248, 3, 0.226);
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 15px 10px black;
}
.sign-up-container{
    height: 550px;
}
.sign-in-text{
    width: 100%;
    height: 20%;
}
.sign-in-details{
    width: 100%;
    height: 60%;
}
.sign-in-alternates a{
    text-decoration: none;
    color: black;
}
.sign-in-alternates a:active{
    color: green;
}
.sign-in-alternates{
    width: 100%;
    height: 20%;
}

.sign-in-details-container{
    width: 80%;
    height: 45px;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}
.sign-in-details-container input{
    padding-left: 10px;
    background-color: transparent;

}
.sign-in-details input{
    width: calc(100% - 35px);
    height: 40px;
    border: none;
    margin-bottom: 20px;
}
.sign-in-details input:focus{
    outline: none;
}
.sign-in-btn-container{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.sign-in-btn{
    background: red;
    color: white;
    border-radius: 25px;
}
.sign-in-btn:active{
    background-color: rgb(124, 0, 0);
}
.con{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sign-in-details-container a{
    text-decoration: none;
    position: relative;
    top: -20px;
    left: 180px;
}
.sign-in-details-container a span:hover{
    color: red;
    transition: 0.5s;
}
.footer{
    background: black;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-message{
    position: relative;
    width: 100%;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-container{
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.redirector{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 60px;
    border-radius: 25px;
    border: 1px solid red;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.redirector a{
    text-decoration: none;
    color: green;
}
.redirector::after{
    content: '';
    border-radius: 25px;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redirector:hover::after{
    content: url("../icons/icons8_arrow_filled_50px.png");
    width: 100%;
    transition: 0.5s;
}
.index img{
    margin-bottom: 200px;
}
.nav-text{
    position: relative;
    padding-bottom: 5px;
}
.nav-text::after{
    content: '';
    position: absolute;
    background-color: red;
    border-radius: 5px;
    width: 0%;
    height: 5px;
    left: 0;
    bottom: 0;
}
.nav-text:hover::after{
    width: 100%;
    transition: 1s;
}
.main-banner{
    display: flex;
    justify-content: center;
}
.content-wrapper{
    height: 100%;
    width: 800px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}
.container-wrapper{
    width: 80%;
}
.new-content-card{
    width: 80%;
    height: 800px;
    position: relative;
    margin-top: 50px;
    overflow-y: scroll;
}
.new-content-card::-webkit-scrollbar, .content-wrapper::-webkit-scrollbar{
    display: none;
}
.pn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.date-div{
    margin-left: 40px;
    margin-top: 10px;
}
.content-image-div{
    width: calc(100% - 80px);
    height: 250px;
    background-color: black;
    margin-left: 40px;
}
.like-to-cart-save{
    width: calc(100% - 80px);
    height: 100px;
    margin-left: 40px;
}
.to-cart-det-div{
    width: 80%;
    height: 100px;
    padding-top: 10px;
    text-align: center;
}
.like-div,.save-div{
    width: 10%;
}
.like-div,.save-div{
    float: left;
    display: flex;
    justify-content: center;
}
.to-cart-det-div{
    float: left;
}
.free-d,.BUNDLE-KIT{
    width: 100%;
}
.to-cart-det-div .btn-download{
    width: 120px;
    height: 40px;
    margin-top: 10px;
    color: white;
    background-color: red;
    border: none;
    font-size: 12px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);
    position: relative;
}
.to-cart-det-div .btn-download:hover{
    background-color: green;
    transition: 0.5s;
}
.btn-to-det{
    width: 100%;
}
.to-btn{
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);
}
.to-btn:hover{
    background-color: rgba(0, 0, 255, 0.62);
    transition: 0.5s;
}
.ex-new-content-card{
    height: 420px;
    width: 100%;
    overflow-y: hidden;
    margin-top: -1px;
}
.audio-review-containter{
    width: 100%;
    height: 500px;
    margin-top: 30px;
    border-top: 1px solid black;

}
.audio-box{
    width: 300px;
    height: 70px;
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 15px;
    float: left;
}
.audio-placement div{
    flex: 1;
    margin-left: 5px;
}
.audio-placement{
    display: flex;
    align-items: center;
}
.audio-placement img{
    cursor: pointer;
}
.preview-name{
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}

#cart-notification,#mylist-notification{
    font-size: 12px;
    color: white;
    position: absolute;
    right: -10px;
    top: -5px;
    
}
.cart-notification-black{
    color: black;
}
.prdct-txt{
    width: 100%;
    text-align: left;
    margin-left: 40px;
}
.cart-card{
    height: 500px;
    border-bottom: 1px solid black;
    width: 100%;
}
.dropdown-container{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 30px;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.drpContents{
    display: none;
    width: 40px;
    height: 120px;
    
}
.drp-nav{
    margin-top: 10px;
}
#toTopBtn{
    width: 40px;
    height: 40px;
    display: block;
    border: none;
    outline: none;
    background-color: #003CA0;
    box-shadow: 0px 0px 5px 5px black;
    border-radius: 20px;
    position: fixed;
    bottom: 30px;
    right: 20px;
}
#toTopBtn:active{
    box-shadow: 0px 0px 5px 5px green;
}
.confir-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: visible;
}
.con-wrapper{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 5px black;
}
.con-wrapper:hover{
    box-shadow: 0px 0px 10px 5px green;
}
.con-pic{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-bg-txt{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-text,.con-but{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.con-bg-txt{
    font-size: 25px;
}
.con-text{
    font-size: 13px;
}
.con-but button{
    width: 100px;
    height: 30px;
    background-color: #05c905;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.con-but button:hover{
    box-shadow: 0px 0px 10px 5px black;
}

.prod-body{
    width: 100vw;
    height: 100vh;
}

.sale-tag{
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
    left: 10px;
    top: 10px;
    z-index: 1;
}
.prod::before, .prod::after{
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    background-color: rgb(255, 51, 0);
    z-index: -1;
}
.prod::before{
    position: absolute;
    left: 60px;
    top: -11px;
    height: 11px;
}
.prod::after{
    position: absolute;
    left: -11px;
    top: 60px;
    width: 11px;
}
.sale-tag span{
    line-height: 15px;
    font-size: 12px;
    display: block;
    text-align: center;
    background-color: rgb(255, 51, 0);
    color: white;
}


@media (max-width: 825px){
    .logo-icon,.right-links{
        display: none;
    }
    .index img{
        width: 300px;
    }
    .dropdown-container{
        display: block;
    }
}